<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .box{
            text-align: center;
            border: 2px solid black;
            height: max-content;
            /* width: max-content; */
        }
    </style>
</head>

<body>
    <div class="box">
        <img src=<%=src%> alt="QR Code ">
        <p>Scan the QR Code</p>
        <a href="index.ejs"><button type="button" class="btn btn-primary">Back</button></a>
        <br>
    </div>
</body>

</html>